<form class="example-form">
    <p>Endereco:<p>
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Rua</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Numero</mat-label>
        <input matInput>
      </mat-form-field></td>
    </tr></table>
  
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Complemento</mat-label>
        <input matInput>
      </mat-form-field>
    </p>
  
  <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>CEP</mat-label>
        <input matInput placeholder="Ex. 54394541">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Bairro</mat-label>
        <input matInput>
      </mat-form-field></td>
    </tr></table>
    
  <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>Cidade</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Estado</mat-label>
        <input matInput>
      </mat-form-field></td>
    </tr></table>
    
  </form>