<div>
    <form class="example-form" [formGroup]="registerForm" (ngSubmit)="enviar()">
        <div>
            <p>Dados Pessoais:<p></p>
        </div>
        <table class="example-full-width" cellspacing="0">
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Nome*</mat-label>
                    <input matInput (ngModel)="agendamento.paciente.nome" formControlName="nome" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.nome.errors }">
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="example-full-width">
                    <mat-label>Sobrenome*</mat-label>
                    <input matInput (ngModel)="agendamento.paciente.sobrenome" formControlName="sobrenome"
                        class="form-control" [ngClass]="{ 'is-invalid': submitted && f.sobrenome.errors }">
                </mat-form-field>
            </td>
        </table>

        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>RG</mat-label>
                        <input matInput (ngModel)="agendamento.paciente.rg" placeholder="Ex. 6123789">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>CPF</mat-label>
                        <input matInput (ngModel)="agendamento.paciente.cpf" placeholder="Ex. 15068794256">
                    </mat-form-field>
                </td>
            </tr>
        </table>

        <mat-form-field class="example-full-width">
            <mat-label>Email*</mat-label>
            <input matInput (ngModel)="agendamento.paciente.email" placeholder="Ex. pat@example.com"
                formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
        </mat-form-field>

        <label for="start">Data de nascimento:</label>
        <input type="date" id="start" name="trip-start" value="2018-07-22" min="1900-01-01" max="2019-12-31"
            (ngModel)="agendamento.paciente.dataNascimento">

        <mat-form-field class="sexo">
            <mat-label>Sexo*</mat-label>
            <mat-select disableRipple (ngModel)="agendamento.paciente.sexo" formControlName="sexo" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.sexo.errors }">
                <mat-option value="1">Masculino</mat-option>
                <mat-option value="2">Feminino</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-checkbox class="pcd" (ngModel)="agendamento.paciente.pcd">PCD</mat-checkbox>

        <div>
            <p>Endereco:<p>
        </div>

        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Rua*</mat-label>
                        <input matInput (ngModel)="agendamento.paciente.endereco.rua" formControlName="rua"
                            class="form-control" [ngClass]="{ 'is-invalid': submitted && f.rua.errors }">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Numero*</mat-label>
                        <input matInput (ngModel)="agendamento.paciente.endereco.numero" formControlName="numero"
                            class="form-control" [ngClass]="{ 'is-invalid': submitted && f.numero.errors }">
                    </mat-form-field>
                </td>
            </tr>
        </table>

        <mat-form-field class="example-full-width">
            <mat-label>Complemento</mat-label>
            <input matInput (ngModel)="agendamento.paciente.endereco.completo">
        </mat-form-field>

        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>CEP*</mat-label>
                        <input matInput placeholder="Ex. 54394541" (ngModel)="agendamento.paciente.endereco.cep"
                            formControlName="cep" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.cep.errors }">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Bairro</mat-label>
                        <input matInput (ngModel)="agendamento.paciente.endereco.bairro">
                    </mat-form-field>
                </td>
            </tr>
        </table>

        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Cidade</mat-label>
                        <input matInput (ngModel)="agendamento.paciente.endereco.cidade">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Estado</mat-label>
                        <input matInput (ngModel)="agendamento.paciente.endereco.estado">
                    </mat-form-field>
                </td>
            </tr>
        </table>

        <button class="enviar" mat-raised-button color="primary">Enviar</button>
        <button class="cancelar" type="reset" mat-raised-button color="primary"
            onClick="window.location.reload();">Cancelar</button>

    </form>
</div>